

html{
    background-color: #3199dc;
}

h2 {
    color: #d2d2e5;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}

h1 {
    color: #e8dede;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 40px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
