{% extends 'buy/base.html' %}

{% block title %} Все товары {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <br>
    <a href=" {% url 'create-product' %} " > Добавить товар </a>
    <h2>Все товары </h2>
    <table>
        <tr>
            <th>Товар</th>
            <th>График цены</th>
            <th>История цены</th>
            <th>Удалить запись</th>
        </tr>
        {% for product in object_list %}
            <tr>
                <td> <a href=" {{ product.get_url }}"> {{ product.name }} - {{ product.category }} </a> </td>
                <td> <a href=" {{ product.get_plot_price }} " > График цены </a> </td>
                <td> <a href=" {{ product.get_list_price }} " > История цены </a> </td>
                <td> <a href=" {{ product.del_url }} ">Удалить запись</a></td>
            </tr>
        {% endfor %}
    </table>
    {% include 'includes/pagination.html' %}
{% endblock %}
