{% extends 'buy/base.html' %}

{% block title %} Все покупки {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <br>
    <a href=" {% url 'create-buy' %} " > Добавить покупку </a>
    <h2>Все покупки </h2>
    <table>
        <tr>
            <th>Товар</th>
            <th>Брэнд</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Дата</th>
            <th>Удалить запись</th>
        </tr>
        {% for buy in object_list %}
            <tr>
                <td> <a href="{{ buy.get_url }}"> {{ buy.product }} </a> </td>
                <td> {{ buy.brand }} </td>
                <td> {{ buy.price }} </td>
                <td> {{ buy.amount }} </td>
                <td> {{ buy.date|date:"Y-m-d" }} </td>
                <td> <a href=" {{ buy.del_url }} ">Удалить запись</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
