{% extends 'buy/base.html' %}

{% block title %} Все категории {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <br>
    <a href=" {% url 'create-category' %} " > Добавить категорию </a>
    <h2>Все категории </h2>
    <table>
        <tr>
            <th>Категория</th>
            <th>Удалить запись</th>
        </tr>
        {% for category in object_list %}
            <tr>
                <td> <a href="{{ category.get_url }}"> {{ category.name }} </a> </td>
                <td> <a href=" {{ category.del_url }} ">Удалить запись</a> </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'includes/pagination.html' %}
{% endblock %}
