{% extends 'buy/base.html' %}

{% block title %} Все брэнды {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <br>
    <a href=" {% url 'create-brand' %} " > Добавить брэнд </a>
    <h2>Все брэнды </h2>
    <table>
        <tr>
            <th>Брэнд</th>
            <th>Удалить запись</th>
        </tr>
        {% for brand in object_list %}
            <tr>
                <td> <a href="{{ brand.get_url }}"> {{ brand.name }} </a> </td>
                <td><a href=" {{ brand.del_url }} "> Удалить запись </a> </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'includes/pagination.html' %}
{% endblock %}
